# Python
__pycache__/
*.pyc

# Angular
frontend/node_modules/
frontend/dist/

# Entornos
.env
backend/.env

# Editor / Workspace
.vscode/
*.code-workspace

# Scripts de backup que no van al repo
restore_from_backups.ps1
restore_from_backups.py
restore_specific_backups.py
# Subidas de usuarios
backend/static/uploads/

